* {
  margin: 0;
  padding: 0;
}

body, html {
    background-color: #74B7C6;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  /*background: linear-gradient(90deg, rgb(13, 161, 230) 0%, rgb(169, 169, 169) 100%);*/
}


p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 10px;
}

.menu-santos {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #555B6F;
}

.login {
  background-color: #0022FA;
  border-radius: 30px;
  right: 200px;
}

.icon-menu-person {
  /* border: 7px solid black; */
}


.img-santos-titulo {
  padding: 10px;
  height: 60px;
  /*border: 7px solid blue;
  border-radius: 20px;*/
  margin: 10px 20px;
}

/*.img-santos-titulo {
    margin: 40px 30px ;
    width: 60px;
    padding: 20px;
    
}*/

.top-santos--cabeca {
  padding: 20px;
  /*border: 7px solid rgb(58, 60, 190);
  border-radius: 20px;*/
  text-align: center;
  justify-content: space-around;
  display: flex;
  height: 20px;
  color: white;
}

.top-santos--cabeca:hover {
  color: rgb(255, 6, 6);
  transform: scale(1.10)
}



.History-a {
  background-color: #6A8FEE;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  margin: 20px;
}

.santos-fc {
    padding: 20px;
    /*border: 7px solid rgb(49, 24, 194);*/
    border-radius: 10px;
    list-style: none;
    background-color: black;
    border-radius: 20px;
    color: #fff;
    text-align: justify;
}

.principais-titulos {
  background-color: #6A8FEE;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.lista-titulos {
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.top-bar-cabecalho {
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    background-color: aliceblue;
    width: 20px;
    border-collapse: collapse;
    border: 5px solid black;
    border-radius: 5px;
    border-spacing: 10px;
}


.top-bar--titulo-tabela {
  background-color: darkgray;
  border: cornsilk;
  
}


.princ {
  text-align: center;
  border: 7px solid blue;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}

.prinplayers {
  text-align: center;
  padding: 10px;
}


.card-jogadores {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.sec {
  padding: 10px;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(159, 159, 253);
  opacity: 0.8;
  text-align: center;
  margin: 20px;
}

.paragrafo-jogadores-cards {
  text-align: justify;
}

.card-1 {
  text-align: center;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(94, 94, 241);
}

.pele-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.card-2  {
  text-align: center;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(94, 94, 241);
}

.neymar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.card-3 {
  text-align: center;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(94, 94, 241);
}

.zito-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.card-4{
  text-align: center;
  border: 20px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(94, 94, 241);
}

.pepe-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.but{
  padding: 10px;
  color: #fff;
  border: 3px solid black;
  border-radius: 15px;
  background-color: olivedrab;
  margin: 20px;
}

.top-bar-vila {
  text-align: center;
}


.Vila-Belmiro {
  background-color: #6A8FEE;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.paragrafo-vila-belmirop {
  background-color: black;
  color: #fff;
  border-radius: 30px;
  text-align: justify;
  margin: 20px;
}

.img-vila-belmiro {
  width: 600px;
  height: 600px;
  padding: 20px;
  margin: 20px 40px;
  border: 7px solid black;
}

.top-proximos {
  text-align: center;
}

.top-proximos-jogos {
  background-color: #6A8FEE;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

.img-jogos {
  padding: 100px;
  margin: 20px;
}

.informaçoes-estadio {
  text-align: center;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 40px;
  color: #fff;
}

.elenco-atual {
  background-color: #6A8FEE;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  margin: 20px ;
}

.top-bar-imagens {
  
}

.jogadores-elenco {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin: 20px 40px;
}

.menu-jogadores-elenco {
  display: flex;
  justify-content: space-between;
  
}

.menu-jogadores-elenco2 {
  display: flex;
  justify-content: space-between;
}

.img-soteldo , .img-joaquim , .img-jean-lucas , .img-rodrigo-fernandez , .img-marcos-leonardo , .img-joao-paulo {
  border-radius: 50px;
}

.elenco-atualizado-paragrafo {
  background-color: black;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  color: #fff;
  margin: 20px 40px;
}


.top-bar--rodape {
    padding: 20px;
    border-radius: 20px;
    background-color: #283DC7;
    margin-bottom: 5px;
    text-align: center;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
}

.paragrafo-rodape {
  text-align: center;
  align-items: center;
}


